<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="header__logo">
                <a href="/">
                    <img src="/img/Logo.png" alt="메인로고">
                </a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="header__nav">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/themes/list">THEME </a></li>
                        <li><a href="/reservation/do">RESERVATION<span class="arrow_carrot-down"></span></a>
                            <ul class="dropdown">
                                <li><a href="/reservation/reservationInfo">예약안내</a></li>
                                <li><a href="/reservation/do">예약하기</a></li>
                                <li><a href="/reservation/reservationCheck">예약확인 및 취소</a></li>
                            </ul>
                        </li>
                        <li><a href="/list">QNA</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
</body>
</html>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-2">-->
<!--            <div class="header__logo">-->
<!--                <a href="../index.html">-->
<!--                    <img src="../img/Logo.png" alt="메인로고">-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-8">-->
<!--            <div class="header__nav">-->
<!--                <nav class="header__menu mobile-menu">-->
<!--                    <ul>-->
<!--                        <li><a href="./categories.html">THEME </a></li>-->
<!--                        <li><a href="list.html">RESERVATION<span class="arrow_carrot-down"></span></a>-->
<!--                            <ul class="dropdown">-->
<!--                                <li><a href="reservationInfo.html">예약안내</a></li>-->
<!--                                <li><a href="reservation.html">예약하기</a></li>-->
<!--                                <li><a href="reservationCheck.html">예약확인 및 취소</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li><a href="#">FAQ</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="mobile-menu-wrap"></div>-->
<!--</div>-->