<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="header__logo">
                <a href="/">
                    <img src="/img/Logo.png" alt="메인로고">
                </a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="header__nav">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/themes/list">THEME </a></li>
                        <li><a href="/reservation/do">RESERVATION<span class="arrow_carrot-down"></span></a>
                            <ul class="dropdown" >
                                <li><a href="/reservation/reservationInfo">예약안내</a></li>
                                <li><a href="/reservation/do">예약하기</a></li>
                                <li><a href="/reservation/check">예약확인 및 취소</a></li>
                            </ul>
                        </li>
                        <li><a href="/list">QNA</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
</body>
</html>

