<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Night Factory</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div th:insert="~{header.html}"></div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="img/horror2.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                            <div class="label">ESCAPE</div>
                            <h2>secrets of factory management - Napolitan</h2>
                            <p style="text-align: center">A mysterious incident occurs in the management office that manages the night factory...</p>
                            <a href="/reservation/do"><span>Reservation Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>

                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/horror3.png">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">ESCAPE</div>
                                <h2>Factory Workplace - Murder Case</h2>
                                <p style="text-align: center">A mysterious murder case that occurred at workpalce. Who is the culprit?</p>
                                <a href="/reservation"><span>Reservation Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/img/horror.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">GUIDE</div>
                                <div class="hero__text_1">
                                    <p>1. 방탈출 카페는 건물 5층에 있으며 4층은 현재 공실입니다. <br/>
                                        간혹 엘리베이터가 4층에 서는 경우가 있으나 아무것도 누르지 말고 기다리면 됩니다. <br/>
                                        이때, 절대 엘리베이터 밖으로 나가거나 4층 내부를 들여다보면 안 됩니다.
                                        <br/><br/>

                                        2. 남자 화장실을 갔는데 불이 켜지지 않는다면 곧장 카운터에 와서 알려주시길 바랍니다. <br/>
                                        화장실 불이 켜지지 않으면 낮에도 절대 사용해서는 안되며, 다른 층의 화장실을 안내해드리겠습니다.<br/>
                                        참고로 우리 카페의 여자화장실은 건물 짝수 층에 있습니다.
                                        <br/><br/>

                                        3. 게임 시작 전에 휴대폰 등 개인 전자기기는 모두 반납하면 되며, 대신 전용 휴대폰을 나눠드립니다.<br/>
                                        게임을 하시다가 모르는 문제가 있거나 특이사항이 발생하면 휴대폰을 통해 직원에게 연락해주시면 됩니다.<br/>
                                        간혹 휴대폰에 전화가 오는 경우도 있으나 직원은 절대 여러분들에게 전화를 걸지 않으니 받으시면 안됩니다.
                                        </br></br>

                                        4. 게임의 총 플레이 시간은 1시간입니다. 시간이 다 되면 직원이 와서 알려줄 것이며 출구로 안내할 것입니다.<br/>
                                        그러므로 탈출을 하지 못했다면 직원이 올 때 까지 기다리셨다가 출구로 나오시면 됩니다.<br/>
                                        가끔씩 처음 들어간 입구가 열려 있는 경우도 있으나, 절대 입구로 나가시면 안됩니다. 꼭 직원을 기다려주십시오.
                                        <br/><br/>
                                    </p>
                                </div>
                                <div class="hero__text_2">
                                    <p>

                                        5. 방탈출 게임을 하는 도중 가끔씩 이상한 마네킹이 발견되는 경우가 있습니다.<br/>
                                        마네킹을 보면 그 즉시 직원에게 상황을 알려주십시오. 절대 마네킹에게 가까이 다가가거나 만지면 안됩니다. <br/>
                                        만약 이미 만졌다면 방 안 구석에 앉아 눈과 귀를 막고 가만히 계십시오. 직원이 조치를 취할 것입니다.
                                        <br/><br/>

                                        6. 게임을 하던 중에 직원이 무슨 문제가 생겼다고 방 안에 들어오면 절대 따라나가면 안 됩니다. <br/>
                                        저희 직원은 무슨 일이 있어도 절대 방 안으로 들어가지 않습니다. <br/>
                                        그러므로 갑자기 직원이 방 안으로 들어온다면 모른 척하고 게임을 이어가시면 됩니다.
                                        <br/><br/>

                                        7. 여자화장실에서 피를 흘리고 있는 여자가 도와달라고 하면 아무 것도 하지 말고 즉시 직원에게 알려주시길 바랍니다.<br/>
                                        해당 위치는 카페 구조상 평범한 벽이며, 그 너머에는 외벽에 부적을 붙여 놨을 뿐인, 아무것도 없는 허공입니다. <br/>
                                        또한 저희 카페는 5층이며, 여자화장실은 짝수 층에만 있다는 것을 다시 말씀드립니다.
                                        <br/><br/>

                                        8. 이 메뉴얼에서 4번 항목은 존재하지 않습니다. 4번 항목에 어떤 내용이 있든, 무조건 그 내용의 반대로 행동하십시오.<br/>
                                        절대 4번 항목을 따라서는 안 됩니다.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product">
        <div class="theme">
            <p>FACTORY THEME</p>
            <ul>
                <li>
                    <img src="/img/theme1.png" alt="포스터1">
                    <ul class="menu">
                        <li style="font-weight: 600; color: white">관리실의 비밀 - 나폴리탄</li>
                        <li><button type="button" class="btn btn-outline-light" onclick="handleReservation('관리실의 비밀 - 나폴리탄')">RESERVATION</button><li></li>
                    </ul>
                </li>
                <li>
                    <img src="/img/theme2.png" alt="포스터2">
                    <ul class="menu">
                        <li style="font-weight: 600; color: white">공장 작업실 - 살인사건</li>
                        <li><button type="button" class="btn btn-outline-light" onclick="handleReservation('공장 작업실 - 살인사건')">RESERVATION</button><li></li>
                    </ul>
                </li>
                <li>
                    <img src="/img/theme3.png" alt="포스터3">
                    <ul class="menu">
                        <li style="font-weight: 600; color: white">기계실: 피의 유령</li>
                        <li><button type="button" class="reservation btn btn-outline-light" onclick="handleReservation('기계실: 피의 유령')">RESERVATION</button><li></li>
                    </ul>
                </li>
                <li>
                    <img src="/img/theme4.png" alt="포스터4">
                    <ul class="menu">
                        <li style="font-weight: 600; color: white">기숙사 탈출</li>
                        <li><button type="button" class="reservation btn btn-outline-light" onclick="handleReservation('기숙사 탈출')">RESERVATION</button><li></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="notice">
            <p>NOTICE</p>
            <ul>
                <li>
                    <img src="/img/notice1.png" alt="시계사진">
                    <p style="font-size: 1.2rem; font-weight: 600; color: white">10분 전 도착</p>
                </li>
                <li>
                    <img src="/img/notice2.png" alt="카메라 사진">
                    <p style="font-size: 1.2rem; font-weight: 600; color: white">내부 촬영 금지</p>
                </li>
                <li>
                    <img src="/img/notice3.png" alt="말풍선 사진">
                    <p style="font-size: 1.2rem; font-weight: 600; color: white">스포 금지</p>
                </li>
            </ul>
        </div>

    </section>

    <div th:insert="~{footer.html}"></div>

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/player.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>


</body>

</html>