<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QNA</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/post.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div id="preloder">
    <div class="loader"></div>
</div>

<header>
    <div th:insert="~{header.html}"></div>
</header>

<div class="title">
    <p style="color: #a83636; text-align: center; font-size: 3rem; font-weight: 700; padding: 100px">QNA</p>

</div>

<div class="content">
    <form action="/save" method="post">
            <div class="form-group row">
                <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" id="inputTitle" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
                <div class="col-sm-10">
                    <input type="text" name="author" class="form-control" id="inputAuthor" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
                <div class="col-sm-10">
                    <textarea type="text" name="content" class="form-control" id="inputContent" style="height: 300px"></textarea>
                </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-7" style="margin-left: 200px;">
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-7" style="margin-left: 200px;">
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="연락처" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" role="button" value="저장하기" />
            </div>
        </div>
    </form>
</div>

<div th:insert="~{footer.html}"></div>

<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        // 저장 버튼 클릭 시
        $(".btn.btn-primary").click(function () {
            // 모든 필드가 비어 있는지 확인
            var title = $("#inputTitle").val();
            var author = $("#inputAuthor").val();
            var content = $("#inputContent").val();
            var password = $("#password").val();
            var phone = $("#phone").val();

            if (!title || !author || !content || !password || !phone) {
                alert("모든 필드를 채워주세요.");
                return "/post";
            }

            // 게시글 데이터 수집
            var boardData = {
                title: title,
                author: author,
                content: content,
                password: password,
                phone: phone
            };

            // Ajax 요청
            $.ajax({
                type: "POST",
                url: "/save",
                data: boardData,
                success: function (response) {
                    alert("게시글이 성공적으로 저장되었습니다.");
                    window.location.href = "/list"; // 저장 후 목록 페이지로 이동
                },
                error: function (xhr, status, error) {
                    console.error("오류 발생: " + xhr.responseText);
                    // 오류 처리 로직 추가 (예: 사용자에게 알림)
                }
            });
        });
    });
</script>


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/player.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/mixitup.min.js"></script>
<script src="../js/jquery.slicknav.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/faq.js"></script>
<script src="../webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="../webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>