<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>예약 확인 및 취소</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reservationCheck.css" type="text/css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div th:insert="~{header.html}"></div>
    </header>
    <!-- Header End -->

    <!-- Reservation Section Begin -->
    <main class="reservation">
        <div class="wrap">
            <div class="resv-title">
                    <h1>Reservation</h1>
            </div>
            <div class="resvs">
                <div class="sec">
                    <ul>
                        <li class="sp">예약확인 및 취소</li>
                    </ul>
                </div>
                <div class="box">
                    <div class="resv-box">
                        <form id="reservationForm" action="/reservation/check" method="post">
                            <ul>
                                <li ><p>예약번호</p>
                                    <input type="text" name="resv-num" class="resv-num">
                                </li>
                                <li><p>예약자</p>
                                    <input type="text" name="name" class="name">
                                </li>
                                <li class="phone"><p>연락처</p>
                                    <input type="tel" name="phone-f" class="phone-f"><p class="hi">-</p>
                                    <input type="tel" name="phone-m" class="phone-m"><p class="hi">-</p>
                                    <input type="tel" name="phone-l" class="phone-l">
                                </li>
                                <li>
                                    <input type="submit" class="submit" value="예약확인">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Reservation Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div th:insert="~{footer.html}"></div>
  </footer>
  <!-- Footer Section End -->


<!-- Js Plugins -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/player.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/mixitup.min.js"></script>
<script src="../js/jquery.slicknav.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const submitButton = document.querySelector(".submit");
        submitButton.disabled = true; // 페이지 로드 시 예약하기 버튼 비활성화
        submitButton.classList.remove('enabled'); // 초기 상태에서 enabled 클래스 제거

        const inputs = document.querySelectorAll("input[type=text],input[type=tel], select");

        function checkFieldsFilled() {
            let allFilled = true;
            inputs.forEach(input => {
                if (input.value.trim() === "") {
                    allFilled = false;
                }
            });
            submitButton.disabled = !allFilled;
            if (allFilled) {
                submitButton.classList.add('enabled'); // 모든 필드가 채워지면 enabled 클래스 추가
            } else {
                submitButton.classList.remove('enabled'); // 필드가 비어 있으면 enabled 클래스 제거
            }
        }

        inputs.forEach(input => {
            input.addEventListener("input", checkFieldsFilled);
        });
    })

</script>

</body>

</html>