<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>예약</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/reservation.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
    </style>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div th:insert="~{header.html}"></div>
</header>
<!-- Header End -->

<!-- Reservation Section Begin -->
<main class="reservation">
    <div class="wrap">
        <div class="resv-title">
            <h1>Reservation</h1>
        </div>
        <div class="resvs">
            <div class="sec">
                <ul>
                    <li class="sp">예약하기</li>
                    <li>예약정보</li>
                    <li>결제하기</li>
                    <li>예약완료</li>
                </ul>
            </div>
            <div class="resv-days">
                <input type="text" id="datePicker"/>
            </div>
            <div class="resv-main">

                <div id="theme-container" class="theme-container"></div>
                <div id="schedule-container" class="schedule-container"></div>
            </div>
        </div>
    </div>
</main>
<!--Reservation Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div th:insert="~{footer.html}"></div>
</footer>
<!-- Footer Section End -->


<!-- Js Plugins -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/player.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/mixitup.min.js"></script>
<script src="../js/jquery.slicknav.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        // 현재 날짜를 설정하고, 오늘부터 일주일 뒤의 날짜 설정
        let today = new Date();
        today.setHours(0, 0, 0, 0); // 현재 날짜의 시간을 0시 0분 0초로 설정
        let sevenDays = new Date();
        sevenDays.setDate(today.getDate() + 7); // 일주일 후의 날짜 설정
        sevenDays.setHours(23, 59, 59, 999); // 일주일 후 날짜의 마지막 시간 설정
        // 공휴일을 저장할 배열
        let holidays = [];

        let year = today.getFullYear();
        let month = (today.getMonth() + 1).toString().padStart(2, '0'); // 월은 0부터 시작하므로 1을 더하고, 문자열로 변환하여 2자리로 맞춤
        let day = today.getDate().toString().padStart(2, '0'); // 일자를 문자열로 변환하여 2자리로 맞춤
        let formattedToday = `${year}-${month}-${day}`;


        // 공휴일 정보를 비동기적으로 가져오는 함수
        function fetchHolidays() {
            // Promise를 사용하여 비동기로 공휴일 정보를 가져옴
            return new Promise((resolve, reject) => {
                const year = today.getFullYear(); // 현재 연도를 변수에 저장
                const serviceKey = 'cXqy1Bo%2BU2YYoMeXnWfQ5WoxpJJY0aQJG4ZIUQ74IZTnphFIKnxeNyGJA7u%2BccuDvKZEcUBxfRh8C%2BPCC1MvLg%3D%3D'; //공공 API 접근을 위한 서비스 키 (보안을 위해 실제 사용시 변경 필요)
                // 공휴일 정보를 요청하는 URL (연도에 따라 변경될 수 있음)
                const url = `http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?ServiceKey=${serviceKey}&solYear=${year}&_type=json`;
                // URL로부터 데이터를 가져옴
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // 성공적으로 데이터를 받아온 경우, 공휴일 정보를 배열에 저장
                        const holidays = data.response.body.items.item.map(holiday => holiday.locdate);
                        resolve(holidays);
                    })
                    .catch(error => {
                        // 데이터를 가져오는 과정에서 오류 발생 시
                        console.error('Error fetching holidays:', error);
                        reject(error); // 오류가 발생하면 거부
                    });
            });
        }

        // 주어진 날짜가 일요일, 공휴일, 토요일인지 확인하는 함수들
        function isSunday(date) { return date.getDay() === 0; }
        function isHoliday(date) {
            let dateString = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
            return holidays.includes(dateString);
        }
        function isSaturday(date) { return date.getDay() === 6; }

        // 테마 정보를 서버에서 가져오는 함수
        function fetchThemes() {
            // fetch API를 사용하여 비동기로 테마 정보를 가져옴
            return fetch('http://localhost:8080/api/themes') // API 엔드포인트
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data || !Array.isArray(data)) {
                        throw new Error('Data is not an array');
                    }
                    console.log('Themes from server:', data);
                    return data; // 배열 데이터를 반환해야 함
                })
                .catch(error => {
                    console.error('Error fetching themes:', error);
                    throw error; // 오류를 밖으로 전파하여, Promise.all에서 캐치할 수 있게 함
                });
        }
        // 선택할 수 없는 날짜를 결정 함수
        function disableDates(date) {
            let current = new Date();
            current.setHours(0, 0, 0, 0);
            let sevenDaysLater = new Date(current);
            sevenDaysLater.setDate(sevenDaysLater.getDate() + 7);
            // 오늘 이전이거나 일주일 후 날짜를 선택할 수 없도록 하는 로직
            return (date < current || date > sevenDaysLater);
        }


        // Flatpickr 달력의 각 날짜 요소에 스타일 적용하는 함수
        function applyStylesToDateElements(instance) {
            let days = instance.calendarContainer.querySelectorAll('.flatpickr-day');
            days.forEach(day => {
                if (day.dateObj) {
                    let date = day.dateObj;
                    if (isHoliday(date)) {
                        day.classList.add("holiday"); // 공휴일 스타일 적용
                    } else {
                        day.classList.remove("holiday");
                    }
                    if (isSaturday(date)) {
                        day.classList.add("saturday"); // 토요일 스타일 적용
                    } else {
                        day.classList.remove("saturday");
                    }
                    if (isSunday(date)) {
                        day.classList.add("sunday"); // 일요일 스타일 적용
                    } else {
                        day.classList.remove("sunday");
                    }
                }
            });
        }

        // Flatpickr 달력을 초기화하는 함수
        function initializeDatePicker() {
            datePicker = flatpickr("#datePicker", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                locale: 'ko',
                disable: [disableDates],
                onChange: [function(selectedDates, dateStr, instance) {
                    checkSchedule(dateStr); // 날짜 선택 시 스케줄 확인
                }],
                onMonthChange: function(selectedDates, dateStr, instance) {
                    applyStylesToDateElements(instance); // 월 변경 시 스타일 적용
                },
                onOpen: function(selectedDates, dateStr, instance) {
                    instance.calendarContainer.style.zIndex = "10000";
                    applyStylesToDateElements(instance); // 달력이 열릴 때마다 공휴일 스타일 적용
                },
                onClose: function(selectedDates, dateStr, instance) {
                    if (selectedDates.length > 0) {
                        instance.setDate(selectedDates[0]); // 선택한 날짜로 설정
                    }
                },
                onReady:  function(selectedDates, dateStr, instance) {
                    applyStylesToDateElements(instance); // 달력 준비 시 스타일 적용
                    let closeButton = document.createElement("button");
                    closeButton.textContent = "닫기";
                    closeButton.className = "flatpickr-close-button";
                    closeButton.type = "button";
                    closeButton.addEventListener("click", function() {
                        instance.close(); // 닫기 버튼 클릭 시 달력 닫힘
                    });
                    instance.calendarContainer.appendChild(closeButton); // 닫기 버튼 추가
                }
            });
        }

        // 선택된 날짜에 따라 스케줄 정보를 확인하고 화면에 표시하는 함수
        function checkSchedule(dateStr) {
            fetch(`http://localhost:8080/api/schedule?date=${dateStr}`)
                .then(response => response.json())
                .then(data => {
                    const allSchedules = Object.values(data.allSchedules).flat(); // 모든 스케줄 정보를 평탄화하여 배열로 만듦
                    if (!Array.isArray(allSchedules)) {
                        console.error('Received schedules is not an array:', allSchedules);
                        return;
                    }

                    updateScheduleDisplay(allSchedules); // 스케줄 정보 업데이트
                })
                .catch(error => {
                    console.error('Error fetching schedule:', error);
                });
        }


        // 화면에 테마 정보를 동적으로 표시하는 함수
        function displayThemes(themes) {
            const themeContainer = document.getElementById('theme-container');
            themeContainer.innerHTML = ''; // 기존 내용 초기화

            if (!Array.isArray(themes)) {
                console.error('Received themes is not an array:', themes);
                return;
            }

            themes.forEach((theme, index) => {
                // 각 테마에 대한 정보를 표시하는 요소를 생성하고 스타일 적용
                const themeDiv = document.createElement('div');
                themeDiv.className = 'theme';
                themeDiv.dataset.index = index;

                // 이미지 엘리먼트 생성 및 설정
                const img = document.createElement('img');
                img.src = `/img/theme${index + 1}.png`;
                img.alt = theme.name;

                // 테마 이름과 소요 시간 설정
                const themeName = document.createElement('h2');
                themeName.textContent = theme.name;
                const estimatedTime = document.createElement('p');
                estimatedTime.textContent = `소요 시간: ${theme.estimatedTime}`;

                // themeDiv에 이미지와 테마 내용 추가
                themeDiv.appendChild(img);
                themeDiv.appendChild(themeName);
                themeDiv.appendChild(estimatedTime);
                themeContainer.appendChild(themeDiv);
            });
        }

        // 스케줄 정보가 화면에 표시되도록 업데이트하는 함수
        function updateScheduleDisplay(allSchedules) {
            const scheduleContainer = document.getElementById('schedule-container');
            if (!scheduleContainer) {
                console.error('scheduleContainer를 찾을 수 없음');
                return;
            }
            scheduleContainer.innerHTML = ''; // 기존 내용 초기화

            // 스케줄 정보가 포함된 객체의 배열을 순회
            allSchedules.forEach(scheduleSet => {
                // 각 스케줄 세트에서 내부 스케줄 배열에 접근
                const schedules = scheduleSet.schedules.schedules;
                if (!Array.isArray(schedules)) {
                    console.error('schedules is not an array:', schedules);
                    return;
                }
                // 스케줄 데이터를 표시할 새로운 ul 요소를 생성
                const scheduleList = document.createElement('ul');
                scheduleList.className = 'schedule-list';

                // 내부 스케줄 배열을 순회하면서 각 스케줄에 대한 li 요소를 생성
                schedules.forEach(schedule => {
                    const startTime = schedule.startTime;
                    const timeItem = document.createElement('button');
                    timeItem.textContent = startTime; // 시작 시간 표시
                    timeItem.dataset.index = String(schedule.id); // 데이터 설정
                    timeItem.className = 'time-slot-button'; // 클래스 설정

                    // able 값에 따라 버튼의 활성화/비활성화 상태를 결정하고 클래스 추가
                    if (!schedule.able) {
                        timeItem.disabled = true; // 버튼을 비활성화
                        timeItem.classList.add('disabled'); // 비활성화 상태를 나타내는 클래스 추가
                    } else {
                        timeItem.addEventListener('click', () => {
                            console.log(`리스트가 클릭되었습니다. 스케줄 ID: ${schedule.id}`);
                            goToMakeReservation(`${schedule.id}`);
                        });
                    } scheduleList.appendChild(timeItem);

                    timeItem.addEventListener('click', () => {
                        console.log(`리스트가 클릭되었습니다. 스케줄 ID: ${schedule.id}`);
                        goToMakeReservation(`${schedule.id}`)
                    });
                    scheduleList.appendChild(timeItem); // ul에 li 추가
                });

                // 생성된 ul 요소를 scheduleContainer에 추가
                scheduleContainer.appendChild(scheduleList);
            });
        }
        // 모든 데이터를 불러온 후 실행할 작업들
        Promise.all([fetchHolidays(), fetchThemes()])
            .then(results => {
                // results[0]는 holidays 배열, results[1]는 themes 배열
                // 공휴일 정보와 테마 정보가 모두 준비되면, 추가 작업 수행
                const [holidays, themes] = results;
                if (!Array.isArray(themes)) {
                    throw new Error('Themes is not an array');
                }
                initializeDatePicker(holidays); // 공휴일 데이터를 이용해 달력 초기화
                displayThemes(themes); // 테마 데이터를 이용해 화면 표시
                // 공휴일과 테마 정보가 모두 로드된 후의 로직
            })
            .catch(error => {
                console.error('An error occurred:', error);
            });
        initializeDatePicker();// 달력 초기화
        // checkSchedule(today.toISOString().split('T')[0]); //toISOString() 메서드는 UTC 기준으로 날짜 및 시간을 반환
        checkSchedule(formattedToday); //현재 날짜에 대한 스케줄 확인
    });

    function goToMakeReservation(scheduleId) {

        const form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/reservation/make');

        const datePickerValue = document.getElementById('datePicker').value;
        const dateStrInput = document.createElement('input');
        dateStrInput.setAttribute('type', 'hidden');
        dateStrInput.setAttribute('name', 'dateStr');
        dateStrInput.setAttribute('value', datePickerValue);
        form.appendChild(dateStrInput);

        const scheduleIdInput = document.createElement('input');
        scheduleIdInput.setAttribute('type', 'hidden');
        scheduleIdInput.setAttribute('name', 'scheduleId');
        scheduleIdInput.setAttribute('value', scheduleId);
        form.appendChild(scheduleIdInput);
        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    }

    //추가 한부분
    window.addEventListener('load', () => {
        const scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition) {
            setTimeout(() => {
                window.scrollTo({
                    top: parseInt(scrollPosition),
                    behavior: 'smooth'
                });
                sessionStorage.removeItem('scrollPosition');
            }, 500);
        }
    });
</script>

</body>

</html>