@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Burned&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Vinyl&family=Rubik+Wet+Paint&display=swap');
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'Hahmlet', serif;
font-family: 'Rubik Burned', system-ui;
font-family: 'Ubuntu', sans-serif;*/

.header__nav {
    font-family: 'Ansungtangmyun-Bold', serif;
}
.header__nav li {
    font-family: 'Ansungtangmyun-Bold', serif;
}

ul {
    list-style: none;
}
.reservation {
    font-family: 'Ansungtangmyun-Bold', serif;
}
.reservation .resvs {
    width: 1200px;
    margin: auto;
}
.resv-title h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #aa1f1f;
    padding: 50px 0;
    font-family: 'Rubik Doodle Shadow', system-ui;
}
.resvs .sec ul{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.resvs .sec li {
    padding: 10px 79px;
    border-radius: 5px;
    font-size: 1.3rem;
    background: #0d0e31;
    color: #B7B7B7;
    border: 1px solid rgb(23, 43, 72);
}
.resvs .sec .sp {
    border: solid 2px #ffffff;
    color: white;
}
.resvs .box {
    padding-top: 50px;
    display: flex;
    gap: 20px;
}
.resvs .box .box-img{
    width: 370px;
    background: rgba(15, 15, 58, 0.27);
    border: 1px solid rgb(65, 66, 77);
    margin-left: 30px;
}
.resvs .box .box-img img{
    width: 320px;
    display: block;
    padding-top: 25px;
    margin-left: 25px;
}
.resvs .box .box-tit {
    padding: 10px 0;
    text-align: center;
    color: white;
    font-family: 'Ansungtangmyun-Bold', serif;
    font-size: 1.3rem;
}
.resvs .box .box-time, .box-days {
    text-align: center;
    color: white;
    font-family: 'Ansungtangmyun-Bold', serif;
    font-size: 1.1rem;
    padding-bottom: 5px;
}
.resvs .box .resv-box {
    width: 750px;
    padding-top: 60px;
    padding-left: 0px;
    border: 1px solid rgb(65, 66, 77);
    background: #0d0e31;
}
.resvs .box .resv-box li {
    padding: 20px 0 0 70px;
    display: flex;
}
.resvs .box .resv-box p {
    padding-right: 20px;
    font-family: 'Ansungtangmyun-Bold', serif;
    font-size: 1.2rem;
    color: white;
    padding-top: 10px;
}
.resvs .box .resv-box .success {
    padding-left: 155px;
    font-size: 1.3rem;
    color: #d35656;
}
.resvs .box .resv-box .home {
    padding: 15px 100px;
    font-size: 1.2rem;
    background: #4b4b51;
    color: white;
    margin-right: 20px;
    margin-left: 50px;
}
.resvs .box .resv-box .resvCheck {
    padding: 15px 50px;
    font-size: 1.2rem;
    background: #d35656;
    color: white;
    margin-left: 20px;
}