
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Burned&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*font-family: 'Hahmlet', serif;
font-family: 'Rubik Burned', system-ui;
font-family: 'Ubuntu', sans-serif;*/
ul {
    list-style: none;
}
.reservation {
    width: 100%;
    font-family: 'Hahmlet', serif;
}
.reservation .resvs {
    width: 1200px;
    margin: auto;
}
.resv-title h1 {
    text-align: center;
    font-size: 3rem;
    color: #aa1f1f;
    padding: 20px 0;
    font-family: 'Rubik Burned', system-ui;
}
.resvs .sec ul{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.resvs .sec li {
    padding: 10px 79px;
    border-radius: 5px;
    font-size: 1.3rem;
    background: #0d0e31;
    color: #ffffff;
    border: 1px solid rgb(23, 43, 72);
}
.resvs .sec .sp {
    border: solid 2px #ffffff;
}
.resvs{
    position: relative;
}
.resvs .resv-days {
    padding: 30px 0 0 30px;

}
.resvs .resv-days input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    border: 1px solid rgb(23, 43, 72);
    color: rgb(255, 255, 255);
    width: 320px;
    height: 50px;
    text-align: center;
    background: #0B0C2A url("../img/calendar-icon.png") no-repeat right 10px center /
    35px auto;
}
body .flatpickr-calendar.arrowTop:after{
   display: none;
}
body .flatpickr-calendar.arrowTop:before {
    border: none;
}

body .flatpickr-calendar {
    position: fixed; /* 고정 위치 */
    top: 50%;      /* 화면의 가운데 정도에 위치 */
    left: 50%;     /* 화면의 가운데 정도에 위치 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치하도록 조정 */
    z-index: 100;  /* 다른 요소들 위에 나타나도록 z-index 설정 */
    box-shadow: none;
    font-family: 'Hahmlet', serif;
    border: 1px solid rgb(23, 43, 72);
    background: #0B0C2A;
    width: 320px;
    height: 301px;
    }

body .flatpickr-day.today {
    color: #ffffff;
    background: #d75151;
    border: none;
}

body .flatpickr-day {
    color: white;
}

body .flatpickr-months .flatpickr-month {
    color: white;
}

body .flatpickr-weekdays .flatpickr-weekday {
    color: white;
}

body .flatpickr-calendar .flatpickr-day.prevMonthDay,
body .flatpickr-calendar .flatpickr-day.nextMonthDay{
    color: white;
    background: #909091;
}
body .flatpickr-calendar .flatpickr-day.selected {
    background: rgb(211, 95, 95);
    color: white;
    border: none;
    }
body .flatpickr-prev-month .flatpickr-prev-month, body .flatpickr-next-month .flatpickr-next-month {
    color:white; /* 원하는 색상 코드로 변경 */
}
body .flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: white;
}
body .flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: white;
}
body .numInputWrapper span {
    opacity: 1;
}
/* 다음 달로 가는 화살표 색상 변경 */
body .flatpickr-next-month .flatpickr-prev-month, body .flatpickr-next-month .flatpickr-next-month {
    color:white; /* 원하는 색상 코드로 변경 */
}
/*!* 날짜 셀 *!*/
/*.flatpickr-day {*/
/*    color: #ffffff; !* 날짜 텍스트 색상 변경 *!*/
/*}*/
/*.flatpickr-months .flatpickr-month, .flatpickr-weekdays {*/
/*    color: white;*/
/*}*/
/*!* 선택된 날짜의 스타일 *!*/
/*.flatpickr-day.selected,*/
/*.flatpickr-day.startRange,*/
/*.flatpickr-day.endRange,*/
/*.flatpickr-day.selected.inRange,*/
/*.flatpickr-day.startRange.inRange,*/
/*.flatpickr-day.endRange.inRange {*/
/*    background: #e85555; !* 선택된 날짜의 배경색 변경 *!*/
/*    color: white; !* 선택된 날짜의 텍스트 색상 변경 *!*/
/*}*/

/*!* 오늘 날짜의 스타일 *!*/
/*.flatpickr-day.today {*/
/*    background: #f0f0f0; !* 오늘 날짜의 배경색 변경 *!*/
/*    color: #ffffff; !* 오늘 날짜의 텍스트 색상 변경 *!*/
/*}*/

/*!* 호버 효과 *!*/
/*.flatpickr-day:hover {*/
/*    background: #e85151;!* 마우스 호버 시 배경색 변경 *!*/
/*}*/
/*!* 비활성화된 날짜 스타일 *!*/
/*.flatpickr-calendar .flatpickr-day.prevMonthDay {*/
/*    color: #ccc;*/
/*    background: #f0f0f0;*/
/*}*/
/*.flatpickr-calendar .flatpickr-day.selected {*/
/*    background: rgb(23, 43, 72);*/
/*    color: white;*/
/*    border: rgb(23, 43, 72);*/
/*}*/
.resvs .box {
    position: relative;
    padding-top: 30px;
    display: flex;
    padding-left: 30px;
}
.resvs .box .box-img{
    width: 320px;
    background: rgba(15, 15, 58, 0.27);
    border: 1px solid rgb(65, 66, 77);
}
.resvs .box .box-img img{
    width: 250px;
    display: block;
    padding-top: 30px;
    margin-left: 32px;

}
.resvs .box .box-tit {
    padding: 20px 0;
    text-align: center;
    color: white;
    font-family: 'Hahmlet', serif;
    font-size: 1.2rem;
}
.resvs .box .schedule-ms {
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    font-size: 2.3rem;
}
.resvs .box ul {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin-left: 50px;
    padding-top: 50px;
}
.resvs .box li {
    background: #0e1036;
    padding: 20px 60px;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid rgb(23, 43, 72);
    transition: background-color .5s;
}
.resvs .box li:hover {
    background: #d35656;
}