@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Burned&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Vinyl&family=Rubik+Wet+Paint&display=swap');
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'Hahmlet', serif;
font-family: 'Rubik Burned', system-ui;
font-family: 'Ubuntu', sans-serif;*/


.header__nav {
    font-family: 'Ansungtangmyun-Bold', serif;
}
.header__nav li {
    font-family: 'Ansungtangmyun-Bold', serif;
}
ul {
    list-style: none;
}
.reservation {
    font-family: 'Ansungtangmyun-Bold', serif;
}
.reservation .resvs {
    width: 1200px;
    margin: auto;
}
.resv-title h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #aa1f1f;
    padding: 50px 0;
    font-family: 'Rubik Doodle Shadow', system-ui;
}
.resvs .sec ul{
    margin-left: 400px;
    width: 400px;
    padding-top: 30px;
    text-align: center;
}
.resvs .sec li {
    padding: 20px 100px;
    border-radius: 5px;
    font-size: 1.3rem;
    background: #0d0e31;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.resvs .box {
    padding-top: 50px;
    display: flex;
    gap: 20px;
}
.resvs .box .resv-box {
    width: 900px;
    margin-left: 150px;
    padding-top: 20px;
    border: 1px solid rgb(65, 66, 77);
    background: #0d0e31;
}
.resvs .box .resv-box li {
    padding: 50px 0 0 130px;
    display: flex;
}

.resvs .box .resv-box p {
    padding-right: 20px;
    font-family: 'Ansungtangmyun-Bold', serif;
    font-size: 1.2rem;
    color: white;
    padding-top: 10px;
}
.resvs .box .resv-box .name {
    margin-left: 18px;
}

.resvs .box .resv-box .submit {
    width: 235px;
    height: 59px;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 1.2rem;
    background: #d35656;
    box-shadow: none;
    outline: none;
    border: 0;
    color: white;
    margin-bottom: 50px;
}
.resvs .box .resv-box input{
    width: 516px;
    height: 50px;
}
.resvs .box .resv-box .hi {
    font-size: 1.3rem;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.resvs .box .resv-box .phone-f {
    width: 100px;
    margin-left: 18px;
}
.resvs .box .resv-box .phone-m {
    width: 180px;
}
.resvs .box .resv-box .phone-l {
    width: 180px;
}

.resvs .box .resv-box .submit {
    width: 200px;
    height: 59px;
    margin-left: 210px;
    margin-top: 20px;
    font-size: 1.2rem;
    background: #565656;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #a2a2a2;
}

.resvs .box .resv-box .submit.enabled {
    background-color: #d35656;
    color: white;
}