<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reservationCheck.css" type="text/css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="index.html">
                            <img src="../static/img/Logo.jpg" alt="메인로고">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./categories.html">THEME </a></li>
                                <li><a href="list.html">RESERVATION<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                    <li><a href="./categories.html">예약안내</a></li>
                                    <li><a href="anime-details.html">예약하기</a></li>
                                    <li><a href="anime-watching.html">예약확인 및 취소</a></li>
                                </ul>
                                </li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Reservation Section Begin -->
    <main class="reservation">
        <div class="wrap">
            <div class="resv-title">
                    <h1>Reservation</h1>
            </div>
            <div class="resvs">
                <div class="sec">
                    <ul>
                        <li class="sp">예약확인 및 취소</li>
                    </ul>
                </div>
                <div class="box">
                    <div class="resv-box">
                        <form>
                            <ul>
                                <li ><p>예약번호</p>
                                    <input type="text" name="resv-num" class="resv-num">
                                </li>
                                <li><p>예약자</p>
                                    <input type="text" name="name" class="name">
                                </li>
                                <li class="phone"><p>연락처</p>
                                    <input type="tel" name="phone-f" class="phone-f"><p class="hi">-</p>
                                    <input type="tel" name="phone-m" class="phone-m"><p class="hi">-</p>
                                    <input type="tel" name="phone-l" class="phone-l">
                                </li>
                                <li>
                                    <input type="submit" class="submit" value="예약확인">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Reservation Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="index.html"><img src="../static/img/footerlogo.jpg" alt="하단 로고"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="index.html">Homepage</a></li>
                        <li><a href="./categories.html">Theme</a></li>
                        <li><a href="list.html">Reservation</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
          </div>
<!--        <div>-->
<!--            Copyright ©2024 All rights reserved | This template is made by Colorlib-->
<!--        </div>-->
      </div>
  </footer>
  <!-- Footer Section End -->


<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/player.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/mixitup.min.js"></script>
<script src="../static/js/jquery.slicknav.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/main.js"></script>


</body>

</html>