<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="../static/css/reservation.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="index.html">
                            <img src="../static/img/Logo.jpg" alt="메인로고">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./categories.html">THEME </a></li>
                                <li><a href="list.html">RESERVATION<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                    <li><a href="./categories.html">예약안내</a></li>
                                    <li><a href="anime-details.html">예약하기</a></li>
                                    <li><a href="anime-watching.html">예약확인 및 취소</a></li>
                                </ul>
                                </li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Reservation Section Begin -->
    <main class="reservation">
        <div class="wrap">
            <div class="resv-title">
                    <h1>Reservation</h1>
            </div>
            <div class="resvs">
                <div class="sec">
                    <ul>
                        <li class="sp">예약하기</li>
                        <li>예약정보</li>
                        <li>결제하기</li>
                        <li>예약완료</li>
                    </ul>
                </div>
                <div class="resv-days">
                    <input type="text" id="datePicker"/>
                </div>
                <div class="box">
                    <div class="box-img"><img src="../static/img/theme1.png" alt="테마1">
                        <p class="box-tit">테마1</p>
                    </div>
                    <div class="box-time">
                        <div id="schedule-ms" class="schedule-ms"></div>
                        <ul>
                            <li>09:00</li>
                            <li>10:00</li>
                            <li>11:00</li>
                            <li>12:00</li>
                            <li>13:00</li>
                            <li>14:00</li>
                            <li>15:00</li>
                            <li>16:00</li>
                            <li>17:00</li>
                            <li>18:00</li>
                            <li>19:00</li>
                            <li>20:00</li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="box-img"><img src="../static/img/theme2.png" alt="테마2">
                        <p class="box-tit">테마2</p>
                    </div>
                    <div class="box-time">
                        <div id="schedule-2" class="schedule-ms"></div>
                        <ul>
                            <li>09:00</li>
                            <li>10:00</li>
                            <li>11:00</li>
                            <li>12:00</li>
                            <li>13:00</li>
                            <li>14:00</li>
                            <li>15:00</li>
                            <li>16:00</li>
                            <li>17:00</li>
                            <li>18:00</li>
                            <li>19:00</li>
                            <li>20:00</li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="box-img"><img src="../static/img/theme3.png" alt="테마3">
                        <p class="box-tit">테마3</p>
                    </div>
                    <div class="box-time">
                        <div id="schedule-ms3" class="schedule-ms"></div>
                        <ul>
                            <li>09:00</li>
                            <li>10:00</li>
                            <li>11:00</li>
                            <li>12:00</li>
                            <li>13:00</li>
                            <li>14:00</li>
                            <li>15:00</li>
                            <li>16:00</li>
                            <li>17:00</li>
                            <li>18:00</li>
                            <li>19:00</li>
                            <li>20:00</li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="box-img"><img src="../static/img/theme4.png" alt="테마4">
                        <p class="box-tit">테마4</p>
                    </div>
                    <div class="box-time">
                        <div id="schedule-ms4" class="schedule-ms"></div>
                        <ul>
                            <li>09:00</li>
                            <li>10:00</li>
                            <li>11:00</li>
                            <li>12:00</li>
                            <li>13:00</li>
                            <li>14:00</li>
                            <li>15:00</li>
                            <li>16:00</li>
                            <li>17:00</li>
                            <li>18:00</li>
                            <li>19:00</li>
                            <li>20:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Reservation Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="index.html"><img src="../static/img/footerlogo.jpg" alt="하단 로고"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="index.html">Homepage</a></li>
                        <li><a href="./categories.html">Theme</a></li>
                        <li><a href="list.html">Reservation</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
          </div>
<!--        <div>-->
<!--            Copyright ©2024 All rights reserved | This template is made by Colorlib-->
<!--        </div>-->
      </div>
  </footer>
  <!-- Footer Section End -->


<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/player.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/mixitup.min.js"></script>
<script src="../static/js/jquery.slicknav.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {var today = new Date();
        today.setHours(0, 0, 0, 0); // 오늘 날짜를 자정으로 설정
        var oneWeekAgo = new Date(today);
        oneWeekAgo.setDate(today.getDate() - 7); // 일주일 전 날짜를 설정
        var oneWeekFromNow = new Date(today);
        oneWeekFromNow.setDate(today.getDate() + 7); // 일주일 후 날짜를 설정
        function disablePastDates(date) {
            var tempDate = new Date(date);
            tempDate.setHours(0, 0, 0, 0);
            return tempDate < today; // 오늘 이전 날짜는 선택할 수 없도록 설젇ㅇ
        }
        // 달력 초기화 시키는 함수
        function initializeDatePicker() {
            var datePicker = flatpickr("#datePicker", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                locale: 'ko',
                disable: [disablePastDates], // 과거 날짜 비활성화 옵션을 설정
                onDayCreate: function(dObj, dStr, fp, dayElem) {
                    // 날짜가 생성될 때마다 호출
                    var date = dayElem.dateObj;
                    date.setHours(0, 0, 0, 0);
                    if (date >= oneWeekAgo && date <= oneWeekFromNow) {
                        // 현재 날짜로부터 일주일 이내의 날짜는 특별한 스타일을 적용
                        dayElem.style.color = 'white';
                    }
                },
                onChange: [function(selectedDates, dateStr, instance) {
                    // 날짜가 선택되면 스케줄을 확인
                    checkSchedule(dateStr);
                }]
            });
        }
        initializeDatePicker(); // 달력 초기화 함수를 호출
        function checkSchedule(date) {
            fetch('/api/schedule/check?date=' + date) // 서버에 스케줄 확인 요청
                .then(response => response.json())
                .then(data => {
                    let message = data.scheduleExists && data.schedule ? data.schedule : "아직 일정이 없습니다.";
                    updateScheduleMessages(message); // 스케줄 메시지를 업데이트
                })
                .catch(error => {
                    console.error('Error:', error);
                    updateScheduleMessages("일정 확인 중 오류가 발생했습니다."); // 오류 메시지를 표시
                });
        }
        // 스케줄 메시지를 업데이트하는 함수
        function updateScheduleMessages(message) {
            ['schedule-ms', 'schedule-2', 'schedule-ms3', 'schedule-ms4'].forEach(id => {
                let element = document.getElementById(id);
                if (element) {
                    element.textContent = message;
                }
            });
        }
    });
</script>

</body>

</html>