<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reservationInfo.css" type="text/css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="index.html">
                            <img src="../static/img/Logo.jpg" alt="메인로고">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./categories.html">THEME </a></li>
                                <li><a href="list.html">RESERVATION<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                    <li><a href="./categories.html">예약안내</a></li>
                                    <li><a href="anime-details.html">예약하기</a></li>
                                    <li><a href="anime-watching.html">예약확인 및 취소</a></li>
                                </ul>
                                </li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Reservation Section Begin -->
    <main class="reservation">
        <div class="sec1">
            <div class="reservation-info">
                <div class="reservation-title">
                    <h1>Reservation</h1>
                </div>
                <div class="sec2">
                    <div class="reservation-text">\
                        <h4><span>v </span> 예약</h4>
                        <p>
                            1. 예약 안내 <br>
                            - 예약자 이름, 연락처 두 가지 정보만 입력하시면 예약이 가능합니다.<br>
                            - 예약 확정 및 예약번호 문자 발송을 위하여 확인 가능한 연락처로 입력 부탁드립니다.<br>
                            - 문자로 발송된 예약번호로 예약 조회 및 취소 가능합니다.<br>
                            - 예약완료 문자를 받지 못하신 경우 예약이 안된 경우이므로 해당 매장으로 유선 문의 부탁드립니다.<br>
                            2. 예약 변경 (날짜 / 시간 / 인원변경)<br>
                            - 이용 날짜 및 시간, 테마 변경은 불가능하므로 사이트를 통해 취소 후 재예약 부탁드립니다.<br>
                            - 이용 인원이 변경된 경우, 이용일 당일 매장에서 추가 결제 및 부분 환불 도와드리겠습니다.<br>

                            3. 예약 취소<br>
                            - 예약 취소는 게임 플레이 1일 전까지 가능합니다. (자정 기준)<br>
                            - 홈페이지 상단 'RESERVATION' > '예약확인 및 취소' 탭을 통해 예약 취소하실 수 있습니다.<br>
                            - 당일 예약 건을 포함하여 게임 이용 당일에는 취소 및 환불이 불가합니다.<br>
                            - 환불 계좌번호 입력 시, 예약자명과 예금주명이 일치해야 합니다.<br>
                            - 환불은 영업일 기준 최대 1~2일 소요될 수 있습니다.<br>
                        </p>
                        <h4><span>v </span> 게임진행</h4>
                        <p>
                            1. 입장 전 게임 설명 및 유의사항 안내를 위하여 이용 시간보다 10분 일찍 도착 부탁드립니다. (게임 시작 시간 이후 도착 시 테마 이용 시간이 차감될 수 있습니다.)<br>
                            2. 휴대폰, 인화성 물질 및 소지품은 라커룸에 보관하셔야 합니다.<br>
                            3. 힌트용 태블릿에 힌트 코드를 입력하여 힌트를 사용할 수 있습니다. 힌트 사용 횟수는 무제한이며, 4개 이하 사용하여 탈출 시 탈출 성공 기념 티켓을 제공합니다.<br>
                            4. 게임의 상세한 내용에 대한 스포일러는 금지되어 있습니다.</p>
                        <h4><span>v </span> 입장 제한 및 환불불가 안내</h4>
                        <p>
                            1. 지각 및 NO SHOW<br>
                            테마는 시간대 별 예약으로 진행되어, 최소 테마 시작 10분 전 도착하셔야 합니다. NO SHOW(불참)의 경우 환불 불가합니다.<br>
                            2. 과도한 음주자<br>
                            과도한 음주 후 플레이는 입장이 제한될 수 있습니다.<br>
                            3. 폐쇄공포증 및 심장 질환자, 임산부<br>
                            게임 진행 공간은 해당 테마에 맞춰 최대한 리얼리티를 살리도록 설계 되었습니다.<br>
                            경우에 따라 공간이 폐쇄되어 갇히거나 놀라는 연출이 있을 수 있으므로 관련된 질병이나 신체 장애가 있는 분들은 피해주시길 바랍니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Reservation Section End -->

    <!-- Product Section Begin -->


<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="index.html"><img src="../static/img/footerlogo.jpg" alt="하단 로고"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="index.html">Homepage</a></li>
                        <li><a href="./categories.html">Theme</a></li>
                        <li><a href="list.html">Reservation</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
          </div>
<!--        <div>-->
<!--            Copyright ©2024 All rights reserved | This template is made by Colorlib-->
<!--        </div>-->
      </div>
  </footer>
  <!-- Footer Section End -->


<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/player.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/mixitup.min.js"></script>
<script src="../static/js/jquery.slicknav.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/main.js"></script>


</body>

</html>