<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            height: 2000px; /* 페이지를 충분히 길게 만듭니다. */
        }
    </style>
    <link rel="stylesheet" href="../static/css/eye.css" type="text/css">
</head>
<body>
<div class="wrapper">
        <div class="outer_eye">
            <div class="eye"></div>
        </div>
    <pre>

    </pre>
</div>
<script src="../static/js/eye.js"></script>

<script>
    window.addEventListener('scroll', function() {
        var scrollPosition = window.scrollY; // 현재 스크롤 위치를 가져옵니다.

        if (scrollPosition >= 500) {

        } else {

        }
    });
</script>
</body>
</html>