
.theme ul{display: block; padding: 50px}

.choice ul {display: flex; justify-content: center; transform: translate(500px, 0)}

.theme-list {transform: translate(300px,0); }
.theme-list ul li {display: flex; }

.content {padding-bottom: 80px;}
