.header__logo {height: 100px}

.theme-list ul{display: block; padding: 50px; transform: translate(300px,0)}
.theme-list ul li {display: flex; }
.text li {transform: translate(-250px,0)}
.content {padding-bottom: 80px;}
